{% extends "banker_landing.html" %}

{% block content %}


<div class="discover-items">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Dennis Lew <em>Financial Goals</em>.</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="item">
            <div class="row">
              <div class="col-lg-12">
                <h4>Investment Goals: Retirement Savings</h4>
                <h4>Target Year: 2027</h4>
                <h4>End Goal: $15000</h4>
                <h4>Age: 45</h4>
                <h4>Annual Income: $46,700</h4>
                <h4>Current Estimated Net Worth: $500,700</h4>
                <h4>Initial Amount: $20,000</h4>
                <h4>Monthly Top Up Amount: $1,000</h4>
                <h4>Current Investment Amount: $14,000</h4>
                <h4>Total portfolio assets: $34,000</h4>
                <h4>Equity: $14,000</h4>
                <h4>Fixed Income: $3,000</h4>
                <h4>Commodities: $14,000</h4>
                <h4>Mutual Fund: $14,000</h4>
                <h4>Crypto: $14,000</h4>
                <h4>Real estate: $14,000</h4>
                <h4>Other Investment: $14,000</h4>
                <h4>Investment Priorities: Sustainable Investment with ESG</h4>
                <h4>Risk Appetite: Low</h4>
                <h4>Drop Value: $500</h4>

              </div>
            </div>
            <div class="col-lg-12">
              <br>
              <div class="row">
                <h4><strong>$1,650</strong></h4>
              </div>
            </div>
          </div>
        </div>
      </div>





{% endblock %}