{% extends "banker_landing.html" %}

{% block content %}
  <!-- ***** Header Area End ***** -->
  <div class="discover-items">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>View <em>Your Clients</em>.</h2>
          </div>
        </div>
        {% for index, n in nam.iterrows()%}
                <div>
                     <div class="col-lg-3">
                      <div class="item">
                        <div class="row">
                          <div class="col-lg-12">
                              <p>Client name:{{ nam['name'][0] }}</p>
                              <p>Investment Goal: {{ result.iloc[index,0] }}</p>
                              <p>Years to Realize Goal: {{ result.iloc[index,1] }}</p>
                              <p>End Goal: ${{ result.iloc[index,2] }}</p>
                              <p>Annual Income: ${{ result.iloc[index,3] }}</p>
                              <p>Estimated Networth: ${{ result.iloc[index,4] }}</p>
                              <a href="{{url_for('bankerclientdetails')}}">View Details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
          {% endfor %}
    </div>
  </div>                
               
{% endblock %}