{% extends "client_landing.html" %}
{% block content %}
<div class="top-seller">
<div class ="container">
<article id="register">
    <h2 class="major">Register</h2>
    <form method="POST" action="">
        {{ portfoliobuild_form.hidden_tag() }}
        <div class="row">
            <div class="col-lg-4">
                {{ portfoliobuild_form.name.label(class="form-control-label") }}

                {% if portfoliobuild_form.name.errors %}  
                    {{ portfoliobuild_form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in portfoliobuild_form.name.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %}
                    {{ portfoliobuild_form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="col-lg-4">
                {{ portfoliobuild_form.risk.label(class="form-control-label") }}

                {% if portfoliobuild_form.risk.errors %}  
                    {{ portfoliobuild_form.risk(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in portfoliobuild_form.risk.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %}
                    {{ portfoliobuild_form.risk(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="col-lg-4">
                {{ portfoliobuild_form.mininvest.label(class="form-control-label") }}

                {% if portfoliobuild_form.mininvest.errors %}  
                    {{ portfoliobuild_form.mininvest(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in portfoliobuild_form.mininvest.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %}
                    {{ portfoliobuild_form.mininvest(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <br>

            <div class="col-lg-12">
                {{ portfoliobuild_form.description.label(class="form-control-label") }}

                {% if portfoliobuild_form.description.errors %}  
                    {{ portfoliobuild_form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in portfoliobuild_form.description.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %}
                    {{ portfoliobuild_form.description(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="col-lg-4">
                {{ portfoliobuild_form.asset1.label(class="form-control-label") }}

                {% if portfoliobuild_form.asset1.errors %}  
                    {{ portfoliobuild_form.asset1(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in portfoliobuild_form.asset1.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %}
                    {{ portfoliobuild_form.asset1(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="col-lg-4">
                {{ portfoliobuild_form.asset1_percentage.label(class="form-control-label") }}

                {% if portfoliobuild_form.asset1_percentage.errors %}  
                    {{ portfoliobuild_form.asset1_percentage(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in portfoliobuild_form.asset1_percentage.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %}
                    {{ portfoliobuild_form.asset1_percentage(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="col-lg-4">
                {{ portfoliobuild_form.asset1_type.label(class="form-control-label") }}

                {% if portfoliobuild_form.asset1_type.errors %}  
                    {{ portfoliobuild_form.asset1_type(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in portfoliobuild_form.asset1_type.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %}
                    {{ portfoliobuild_form.asset1_type(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="col-lg-4">
                {{ portfoliobuild_form.asset2.label(class="form-control-label") }}

                {% if portfoliobuild_form.asset2.errors %}  
                    {{ portfoliobuild_form.asset2(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in portfoliobuild_form.asset2.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %}
                    {{ portfoliobuild_form.asset2(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="col-lg-4">
                {{ portfoliobuild_form.asset2_percentage.label(class="form-control-label") }}

                {% if portfoliobuild_form.asset2_percentage.errors %}  
                    {{ portfoliobuild_form.asset2_percentage(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in portfoliobuild_form.asset2_percentage.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %}
                    {{ portfoliobuild_form.asset2_percentage(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="col-lg-4">
                {{ portfoliobuild_form.asset2_type.label(class="form-control-label") }}

                {% if portfoliobuild_form.asset2_type.errors %}  
                    {{ portfoliobuild_form.asset2_type(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in portfoliobuild_form.asset2_type.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %}
                    {{ portfoliobuild_form.asset2_type(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="col-lg-4">
              {{ portfoliobuild_form.asset3.label(class="form-control-label") }}

              {% if portfoliobuild_form.asset3.errors %}  
                  {{ portfoliobuild_form.asset3(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in portfoliobuild_form.asset3.errors %}
                          <span>{{ error }}</span> 
                      {% endfor %}
                  </div>
              {% else %}
                  {{ portfoliobuild_form.asset3(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="col-lg-4">
              {{ portfoliobuild_form.asset3_percentage.label(class="form-control-label") }}

              {% if portfoliobuild_form.asset3_percentage.errors %}  
                  {{ portfoliobuild_form.asset3_percentage(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in portfoliobuild_form.asset3_percentage.errors %}
                          <span>{{ error }}</span> 
                      {% endfor %}
                  </div>
              {% else %}
                  {{ portfoliobuild_form.asset3_percentage(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="col-lg-4">
              {{ portfoliobuild_form.asset3_type.label(class="form-control-label") }}

              {% if portfoliobuild_form.asset3_type.errors %}  
                  {{ portfoliobuild_form.asset3_type(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in portfoliobuild_form.asset3_type.errors %}
                          <span>{{ error }}</span> 
                      {% endfor %}
                  </div>
              {% else %}
                  {{ portfoliobuild_form.asset3_type(class="form-control form-control-lg") }}
              {% endif %}
          </div>
          <div class="col-lg-4">
            {{ portfoliobuild_form.asset4.label(class="form-control-label") }}

            {% if portfoliobuild_form.asset4.errors %}  
                {{ portfoliobuild_form.asset4(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in portfoliobuild_form.asset4.errors %}
                        <span>{{ error }}</span> 
                    {% endfor %}
                </div>
            {% else %}
                {{ portfoliobuild_form.asset4(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="col-lg-4">
            {{ portfoliobuild_form.asset4_percentage.label(class="form-control-label") }}

            {% if portfoliobuild_form.asset4_percentage.errors %}  
                {{ portfoliobuild_form.asset4_percentage(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in portfoliobuild_form.asset4_percentage.errors %}
                        <span>{{ error }}</span> 
                    {% endfor %}
                </div>
            {% else %}
                {{ portfoliobuild_form.asset4_percentage(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="col-lg-4">
            {{ portfoliobuild_form.asset4_type.label(class="form-control-label") }}

            {% if portfoliobuild_form.asset4_type.errors %}  
                {{ portfoliobuild_form.asset4_type(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in portfoliobuild_form.asset4_type.errors %}
                        <span>{{ error }}</span> 
                    {% endfor %}
                </div>
            {% else %}
                {{ portfoliobuild_form.asset4_type(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="col-lg-4">
          {{ portfoliobuild_form.asset5.label(class="form-control-label") }}

          {% if portfoliobuild_form.asset5.errors %}  
              {{ portfoliobuild_form.asset5(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in portfoliobuild_form.asset5.errors %}
                      <span>{{ error }}</span> 
                  {% endfor %}
              </div>
          {% else %}
              {{ portfoliobuild_form.asset5(class="form-control form-control-lg") }}
          {% endif %}
      </div>
      <div class="col-lg-4">
          {{ portfoliobuild_form.asset5_percentage.label(class="form-control-label") }}

          {% if portfoliobuild_form.asset5_percentage.errors %}  
              {{ portfoliobuild_form.asset5_percentage(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in portfoliobuild_form.asset5_percentage.errors %}
                      <span>{{ error }}</span> 
                  {% endfor %}
              </div>
          {% else %}
              {{ portfoliobuild_form.asset5_percentage(class="form-control form-control-lg") }}
          {% endif %}
      </div>
      <div class="col-lg-4">
          {{ portfoliobuild_form.asset5_type.label(class="form-control-label") }}

          {% if portfoliobuild_form.asset5_type.errors %}  
              {{ portfoliobuild_form.asset5_type(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in portfoliobuild_form.asset5_type.errors %}
                      <span>{{ error }}</span> 
                  {% endfor %}
              </div>
          {% else %}
              {{ portfoliobuild_form.asset5_type(class="form-control form-control-lg") }}
          {% endif %}
      </div>
      <div class="col-lg-4">
        {{ portfoliobuild_form.asset6.label(class="form-control-label") }}

        {% if portfoliobuild_form.asset6.errors %}  
            {{ portfoliobuild_form.asset6(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in portfoliobuild_form.asset6.errors %}
                    <span>{{ error }}</span> 
                {% endfor %}
            </div>
        {% else %}
            {{ portfoliobuild_form.asset6(class="form-control form-control-lg") }}
        {% endif %}
    </div>
    <div class="col-lg-4">
        {{ portfoliobuild_form.asset6_percentage.label(class="form-control-label") }}

        {% if portfoliobuild_form.asset6_percentage.errors %}  
            {{ portfoliobuild_form.asset6_percentage(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in portfoliobuild_form.asset6_percentage.errors %}
                    <span>{{ error }}</span> 
                {% endfor %}
            </div>
        {% else %}
            {{ portfoliobuild_form.asset6_percentage(class="form-control form-control-lg") }}
        {% endif %}
    </div>
    <div class="col-lg-4">
        {{ portfoliobuild_form.asset6_type.label(class="form-control-label") }}

        {% if portfoliobuild_form.asset6_type.errors %}  
            {{ portfoliobuild_form.asset6_type(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in portfoliobuild_form.asset6_type.errors %}
                    <span>{{ error }}</span> 
                {% endfor %}
            </div>
        {% else %}
            {{ portfoliobuild_form.asset6_type(class="form-control form-control-lg") }}
        {% endif %}
    </div>
    <div class="col-lg-4">
      {{ portfoliobuild_form.asset7.label(class="form-control-label") }}

      {% if portfoliobuild_form.asset7.errors %}  
          {{ portfoliobuild_form.asset7(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
              {% for error in portfoliobuild_form.asset7.errors %}
                  <span>{{ error }}</span> 
              {% endfor %}
          </div>
      {% else %}
          {{ portfoliobuild_form.asset7(class="form-control form-control-lg") }}
      {% endif %}
  </div>
  <div class="col-lg-4">
      {{ portfoliobuild_form.asset7_percentage.label(class="form-control-label") }}

      {% if portfoliobuild_form.asset7_percentage.errors %}  
          {{ portfoliobuild_form.asset7_percentage(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
              {% for error in portfoliobuild_form.asset7_percentage.errors %}
                  <span>{{ error }}</span> 
              {% endfor %}
          </div>
      {% else %}
          {{ portfoliobuild_form.asset7_percentage(class="form-control form-control-lg") }}
      {% endif %}
  </div>
  <div class="col-lg-4">
      {{ portfoliobuild_form.asset7_type.label(class="form-control-label") }}

      {% if portfoliobuild_form.asset7_type.errors %}  
          {{ portfoliobuild_form.asset7_type(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
              {% for error in portfoliobuild_form.asset7_type.errors %}
                  <span>{{ error }}</span> 
              {% endfor %}
          </div>
      {% else %}
          {{ portfoliobuild_form.asset7_type(class="form-control form-control-lg") }}
      {% endif %}
  </div>
  <div class="col-lg-4">
    {{ portfoliobuild_form.asset8.label(class="form-control-label") }}

    {% if portfoliobuild_form.asset8.errors %}  
        {{ portfoliobuild_form.asset8(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in portfoliobuild_form.asset8.errors %}
                <span>{{ error }}</span> 
            {% endfor %}
        </div>
    {% else %}
        {{ portfoliobuild_form.asset8(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div class="col-lg-4">
    {{ portfoliobuild_form.asset8_percentage.label(class="form-control-label") }}

    {% if portfoliobuild_form.asset8_percentage.errors %}  
        {{ portfoliobuild_form.asset8_percentage(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in portfoliobuild_form.asset8_percentage.errors %}
                <span>{{ error }}</span> 
            {% endfor %}
        </div>
    {% else %}
        {{ portfoliobuild_form.asset8_percentage(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div class="col-lg-4">
    {{ portfoliobuild_form.asset8_type.label(class="form-control-label") }}

    {% if portfoliobuild_form.asset8_type.errors %}  
        {{ portfoliobuild_form.asset8_type(class="form-control form-control-lg is-invalid") }}
        <div class="invalid-feedback">
            {% for error in portfoliobuild_form.asset8_type.errors %}
                <span>{{ error }}</span> 
            {% endfor %}
        </div>
    {% else %}
        {{ portfoliobuild_form.asset8_type(class="form-control form-control-lg") }}
    {% endif %}
</div>
<div class="col-lg-4">
  {{ portfoliobuild_form.asset9.label(class="form-control-label") }}

  {% if portfoliobuild_form.asset9.errors %}  
      {{ portfoliobuild_form.asset9(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
          {% for error in portfoliobuild_form.asset9.errors %}
              <span>{{ error }}</span> 
          {% endfor %}
      </div>
  {% else %}
      {{ portfoliobuild_form.asset9(class="form-control form-control-lg") }}
  {% endif %}
</div>
<div class="col-lg-4">
  {{ portfoliobuild_form.asset9_percentage.label(class="form-control-label") }}

  {% if portfoliobuild_form.asset9_percentage.errors %}  
      {{ portfoliobuild_form.asset9_percentage(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
          {% for error in portfoliobuild_form.asset9_percentage.errors %}
              <span>{{ error }}</span> 
          {% endfor %}
      </div>
  {% else %}
      {{ portfoliobuild_form.asset9_percentage(class="form-control form-control-lg") }}
  {% endif %}
</div>
<div class="col-lg-4">
  {{ portfoliobuild_form.asset9_type.label(class="form-control-label") }}

  {% if portfoliobuild_form.asset9_type.errors %}  
      {{ portfoliobuild_form.asset9_type(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
          {% for error in portfoliobuild_form.asset9_type.errors %}
              <span>{{ error }}</span> 
          {% endfor %}
      </div>
  {% else %}
      {{ portfoliobuild_form.asset9_type(class="form-control form-control-lg") }}
  {% endif %}
</div>
<div class="col-lg-4">
  {{ portfoliobuild_form.asset10.label(class="form-control-label") }}

  {% if portfoliobuild_form.asset10.errors %}  
      {{ portfoliobuild_form.asset10(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
          {% for error in portfoliobuild_form.asset10.errors %}
              <span>{{ error }}</span> 
          {% endfor %}
      </div>
  {% else %}
      {{ portfoliobuild_form.asset10(class="form-control form-control-lg") }}
  {% endif %}
</div>
<div class="col-lg-4">
  {{ portfoliobuild_form.asset10_percentage.label(class="form-control-label") }}

  {% if portfoliobuild_form.asset10_percentage.errors %}  
      {{ portfoliobuild_form.asset10_percentage(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
          {% for error in portfoliobuild_form.asset10_percentage.errors %}
              <span>{{ error }}</span> 
          {% endfor %}
      </div>
  {% else %}
      {{ portfoliobuild_form.asset10_percentage(class="form-control form-control-lg") }}
  {% endif %}
</div>
<div class="col-lg-4">
  {{ portfoliobuild_form.asset10_type.label(class="form-control-label") }}

  {% if portfoliobuild_form.asset10_type.errors %}  
      {{ portfoliobuild_form.asset10_type(class="form-control form-control-lg is-invalid") }}
      <div class="invalid-feedback">
          {% for error in portfoliobuild_form.asset10_type.errors %}
              <span>{{ error }}</span> 
          {% endfor %}
      </div>
  {% else %}
      {{ portfoliobuild_form.asset10_type(class="form-control form-control-lg") }}
  {% endif %}
</div>

        <br>
        </div>
        <ul class="actions">
            {{ portfoliobuild_form.submit(class="btn btn-outline-info") }}
        </ul>
    </form>
</article>
</div>
</div>
{% endblock %}