{% extends "landinglayout.html" %}

{% block content %}


<!-- Main -->
	<div id="main">

		<!-- Register -->
			<article id="register">
				<h2 class="major">Register</h2>
				<form method="POST" action="">
					{{ clientregister_form.hidden_tag() }}
					<div class="fields">
						<div class="field half">
							{{ clientregister_form.name.label(class="form-control-label") }}

							{% if clientregister_form.name.errors %}  
								{{ clientregister_form.name(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in clientregister_form.name.errors %}
										<span>{{ error }}</span> 
									{% endfor %}
								</div>
							{% else %}
								{{ clientregister_form.name(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="field half">
							{{ clientregister_form.nric.label(class="form-control-label") }}
							{% if clientregister_form.nric.errors %}  
								{{ clientregister_form.nric(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in clientregister_form.nric.errors %}
										<span>{{ error }}</span> 
									{% endfor %}
								</div>
							{% else %}
								{{ clientregister_form.nric(class="form-control form-control-lg") }}
							{% endif %}
						</div>

						<div class="field">
							{{ clientregister_form.email.label(class="form-control-label") }}
							{% if clientregister_form.email.errors %}  
								{{ clientregister_form.email(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in clientregister_form.email.errors %}
										<span>{{ error }}</span> 
									{% endfor %}
								</div>
							{% else %}
								{{ clientregister_form.email(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="field half">
							{{ clientregister_form.contactno.label(class="form-control-label") }}
							{% if clientregister_form.contactno.errors %}  
								{{ clientregister_form.contactno(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in clientregister_form.contactno.errors %}
										<span>{{ error }}</span> 
									{% endfor %}
								</div>
							{% else %}
								{{ clientregister_form.contactno(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="field half">
							{{ clientregister_form.password.label(class="form-control-label") }}
							{% if clientregister_form.password.errors %}  
								{{ clientregister_form.password(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in clientregister_form.password.errors %}
										<span>{{ error }}</span> 
									{% endfor %}
								</div>
							{% else %}
								{{ clientregister_form.password(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="field half">
							{{ clientregister_form.confirm_password.label(class="form-control-label") }}
							{% if clientregister_form.confirm_password.errors %} 
								{{ clientregister_form.confirm_password(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in clientregister_form.confirm_password.errors %}
										<span>{{ error }}</span> 
									{% endfor %}
								</div>
							{% else %}
								{{ clientregister_form.confirm_password(class="form-control form-control-lg") }}
							{% endif %}
						</div>
					</div>
					<ul class="actions">
						{{ clientregister_form.submit(class="btn btn-outline-info") }}
					</ul>
				</form>
			</article>
			
		<!-- Forgot -->
			<article id="forgot">
				<h2 class="major">Forgot Password</h2>
				<form method="post" action="#">
					<div class="fields">

						<div class="field half">
							<label for="email">Email</label>
							<input type="text" name="email" id="email" />
						</div>
						<br>
						<div class="field half">
							<label for="message">Password</label>
							<input type="password" name="password" id="password"/>
						</div>
						<div class="field half">
							<label for="message">Confirm Password</label>
							<input type="password" name="password" id="password"/>
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Update Password" class="primary" /></li>
					</ul>
				</form>
				
			</article>						

	</div>
{% endblock %}