{% extends "landinglayout.html" %}

{% block content %}


<!-- Main -->
	<div id="main">

		<!-- Login -->
			<article id="login">
				<h2 class="major">Welcome back</h2>
        <h3>Login to continue</h3>
				<form method="POST" action="">
					{{ clientlogin_form.hidden_tag() }}
					<div class="fields">

						<div class="field half">
							{{ clientlogin_form.email.label(class="form-control-label") }}
							{% if clientlogin_form.email.errors %}  
								{{ clientlogin_form.email(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in clientlogin_form.email.errors %}
										<span>{{ error }}</span> 
									{% endfor %}
								</div>
							{% else %}
								{{ clientlogin_form.email(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<br>
						<div class="field half">
							{{ clientlogin_form.password.label(class="form-control-label") }}
                    {% if clientlogin_form.password.errors %}  
                        {{ clientlogin_form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in clientlogin_form.password.errors %}
                                <span>{{ error }}</span> 
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ clientlogin_form.password(class="form-control form-control-lg") }}
                    {% endif %}
						</div>
					</div>
					<div>
						{{ clientlogin_form.remember(class="form-check-input") }}
						{{ clientlogin_form.remember.label(class="form-check-label") }}
					</div>
					<br>
					<ul class="actions">
						<li>{{ clientlogin_form.submit(class="btn btn-outline-info") }}</li>
						<li><a href="#forgot" class="button">Forget Password</a></li>
					</ul>
				</form>
				
			</article>

		
{% endblock %}