<!DOCTYPE HTML>

<html>
	<head>
		<title>News Resources</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets_2/css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets_2/css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
                <h3> Filter by Date Range </h3>
                <form action="" method='POST' name="newsform">
                    {{ news_form.csrt_token }}
                    <p>{{ news_form.startdate.label }} {{news_form.startdate(class='datepicker')}} {{news_form.hidden_tag()}}</p>
                    <p>{{ news_form.enddate.label }} {{news_form.enddate(class='datepicker')}} {{news_form.hidden_tag()}}</p>
                    <p>{{news_form.submit()}}</p>
                </form>

                <ul class=flashes>
                {% for index, news in news_df.iterrows()%}
                <li><a href="{{news['News_URL']}}">{{ news["News_Title"] }}</a></li>
                {% endfor %}
                </ul>


            <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">&copy; TheGeeks.</p>
                </footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets_2/js/jquery.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets_2/js/browser.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets_2/js/breakpoints.min.js')}}"></script>
			<script src="{{ url_for('static', filename='assets_2/js/util.js')}}"></script>
			<script src="{{ url_for('static', filename='assets_2/js/main.js')}}"></script>

	</body>
</html>