<!DOCTYPE HTML>

<html>
	<head>
		<title>Shop for Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename='assets_2/css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{url_for('static', filename='assets/css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">


		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">

						<h1>Shop for Portfolio</h1>

					</header>
                {% block content %}
				<div class=ticker_box>
					{{tables}}
					{{titles}}

					{% for table in tables %}
					  {{titles[loop.index]}}
					  {{ table|safe }}
					{% endfor %}
				</div>



				{% endblock %}



				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="/client/logout" class="icon brands alt fa-sign-out-alt"><span class="label">Sign Out</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; ShopSave</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/jquery.scrolly.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/jquery.scrollex.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/util.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/main.js')}}"></script>


	</body>
</html>