<!DOCTYPE HTML>

<html>
	<head>
		<title>Trade</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static', filename='assets_2/css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{url_for('static', filename='assets/css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">


		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">

						<h1>Stock Information</h1>
						<h6> Data from Yahoo Finance </h6>

					</header>
                {% block content %}
				<div class=ticker_box>
				{% for index in range(tickers|length)%}
					<div class=ticker_inner_box>
						<h3>{{markets[index]}}</h3>
						<p>Sector: {{tickers[index].info['sector']}}</p>
						<p>Current Price: {{tickers[index].info['currentPrice']}}</p>
						<form target="/client/trade/details" method="post" id="ticker_form">
       						<button class="ticker_button" id="ticker_detail" type="submit" value="fav_HTML">Details</button>
     					</form>
					</div>
                {% endfor %}
				</div>



				{% endblock %}



				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="/client/logout" class="icon brands alt fa-sign-out-alt"><span class="label">Sign Out</span></a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; ShopSave</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/jquery.scrolly.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/jquery.scrollex.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/util.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/main.js')}}"></script>


	</body>
</html>